<!DOCTYPE html>
<html>
<head>
  <title>Gem master</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "gem_master/application", media: "all" %>
  <%= javascript_include_tag "gem_master/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
